# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
checkpoints_bk
ckpts*

.ipynb_checkpoints
# *.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

# Fine-tuning
dataset/
armbench/
armbench512x384_5_all.h5
offload/
armbench_grid/
